// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$color1: #383E60;
$color2: #5F465C;
$color3: #8A626B;
$color4: #D1C3A9;
$color5: #E8DEB9;
