<div class="comment">
  <p><%= comment.comment %></p>
  <p><%= comment.user.email %></p>
  <%= link_to "Deletar", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" } %>
  <%= link_to "Editar", edit_post_comment_path(comment.post, comment) %>
</div>
