#menu {
  width: 100%;
  }

#menu p {
  width: 100%;
	text-align: left;
	list-style-type: none;
  padding: 5px;
	}

#menu a {
  color: rgb(184, 184, 184);
  font-weight: bold;
  text-decoration: none;
  padding: 8px;
  }

#menu a:hover {
  color: rgb(255, 255, 255);
  }
