#menu {
  width: 100%;
  }

#menu p {
  width: 100%;
  text-align: left;
  list-style-type: none;
  padding-inline: 5px;
  }

#menu a {
  color: rgb(184, 184, 184);
  font-weight: bold;
  text-decoration: none;
  padding: 0;
  }

#menu a:hover {
  color: rgb(255, 255, 255);
  }
