.wrapper {
  width: 60%;
  max-width: 1140px;
  margin: 0 auto;
 }



 .clearfix:before, .clearfix:after {
  content: " ";
  display: table;
 }

 .clearfix:after {
  clear: both;
 }

 .main_header {
  width: 80%;
  width: 100%;
  margin: 0 auto;
  background-color: azure;
  #logo {
   float: left;
   a {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #397CAC;
   }
  }

  #buttons {
    float: right;
    a {
     line-height: 60px;
     background: #397CAC;
     padding: .5em 1em;
     border-radius: 0.2em;
     color: white;
     text-decoration: none;
     font-weight: 100;
    }
   }
 }
