// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#post_content {
  background: #383E60;
  padding: 2em 5%;
  border-radius: .5em;
  margin-top: 120px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  h1 {
   font-weight: 100;
   font-size: 2em;
   color: #F5F5F5;
   margin-top: 0;
  }
  p {
   color: #B2BAC2;
   font-size: 0.9em;
   line-height: 1.5;
   font-size: 100;
  }
  #comments {
   .comment {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 1em;
    margin-bottom: 1em;
    .comment_content {
     margin: 0;
     padding: 0;
    }
    .comment_author {
     color: #397CAC;
     margin-top: 0.5rem;
     font-size: 0.6rem;
     font-weight: 700;
    }
   }
  }
}
