/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "components/index";
 @import "posts";


 body {
  font-family: 'Lato', sans-serif;
  background: #EDEFF0;
}

#posts {
  background: white;
  padding: 2em 5%;
  border-radius: .5em;
  .post {
   margin: 1em 0;
   padding: 1em 0;
   border-bottom: 1px solid #D1d1d1;
   .title {
    margin: 0;
    a {
     color: #397CAC;
     text-decoration: none;
     font-weight: 100;
     font-size: 1.25rem;
    }
   }
   .date {
    margin-top: .25rem;
    font-size: 0.9rem;
    color: #B2BAC2;
   }
  }
 }
