/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "config/index";
@import "bootstrap/scss/bootstrap";
@import "components/index";
@import "font-awesome";

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

 body {
  font-family: 'Roboto Flex', sans-serif;
  background-color: #161930;
  background-image: image-url('pattern.jpg');
    background-repeat: repeat;
    background-size: 100%;
}

.screen {
  background:  image-url('background_blur.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $color4;
  margin-top: -80px;
  font-family: $main-font;
  position: relative;
}

#posts {
  margin-top: 20px;
  background: $color1;
  padding: 2em 5%;
  border-radius: .5em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  .post {
   margin: 1em 0;
   padding: 1em 0;
   border-bottom: 1px solid #D1d1d1;
   .title {
    margin: 0;
    a {
     color: #F5F5F5;
     text-decoration: none;
     font-weight: 100;
     font-size: 2.25rem;
    }
   }
   .date {
    margin-top: .25rem;
    font-size: 0.9rem;
    color: #B2BAC2;
   }
  }
 }

 #comments {
  a{
    text-decoration: none;
    color: #E8DEB9;
    font-size: 14px;
    &:hover {
      color:white;
    }

  }
  .comment {
   border: 2px solid #D1C3A9;
   padding: 40px 15px;
   margin-bottom: 1em;
   background-color: #2a3152;
   border-radius: 25px;
   font-size: 20px;
   .comment_content {
    margin: 0;
    padding: 0;
   }
   .comment_author {
    color: #F5F5F5;
    margin-top: 0.5rem;
    font-size: 0.6rem;
    font-weight: 700;
   }
  }
 }


 hr {
  color: #D1d1d1;
 }

 .forumbanner{
  margin-top: 20px;
  width: 65%;
  border-radius: 20px;
  text-align: center;
 }

 .new-post-btn {
  width: 45px;
 }

 .black-wizard{
  font-size: 20px;
  text-transform: uppercase;
  color: #E8DEB9;
  padding: 10px 40px;
  background-color: #383E60;
  text-decoration: none;
    &:hover {
    color:white;
  }
}


.newpost{
  font-family: 'Roboto Flex', sans-serif;
  background-color: #383e60;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: #E8DEB9;
  border-radius: 25px;
  padding: 0 25px;
}

.postmaster #post_content{
  background-color: #E8DEB9;
  border:  2px solid #D1C3A9;

}

#post_content{

  padding: 0;
  margin: 0;
  background-color:#E8DEB9;
  resize: none;
  box-shadow: none;
  p, h1{
    font-family: 'Roboto Flex', sans-serif;
    color: #383E60;
    padding: 5px;
  }

  p{
    font-size: 18px;
  }

  h1{
    font-weight: bold;
  }
}

.form-control{
  background-color:#E8DEB9;
  border: none;
}

.form-control-label{
  margin-top: 7px;
}

.new_post .btn{
  margin: 25px 0;
  background-color: #D1C3A9;
}

#comment_comment{
  padding: 0;
  margin-bottom: 25px;
  background-color:#E8DEB9;
  resize: none;
  box-shadow: none;
  p, h1{
    font-family: 'Roboto Flex', sans-serif;
    color: #383E60;
    padding: 5px;
  }
}

input[type=text] {
  padding:5px;
  border:2px solid #D1C3A9;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=text]:focus {
  border-color:#333;
}

input[type=submit] {
  padding:5px 15px;
  background:#E8DEB9;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bottommenu{
  a{
    text-decoration: none;
    color: #E8DEB9;
    font-size: 14px;
    &:hover {
      color:white;
    }
}
}
