/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "config/index";
@import "bootstrap/scss/bootstrap";
@import "components/index";

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


 body {
  font-family: 'Lato', sans-serif;
  background-color: #161930;
}

.screen {
  background:  image-url('background_blur.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $color4;
  margin-top: -80px;
  font-family: $main-font;
  position: relative;
}

#posts {
  margin-top: 120px;
  background: $color1;
  padding: 2em 5%;
  border-radius: .5em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  .post {
   margin: 1em 0;
   padding: 1em 0;
   border-bottom: 1px solid #D1d1d1;
   .title {
    margin: 0;
    a {
     color: #F5F5F5;
     text-decoration: none;
     font-weight: 100;
     font-size: 2.25rem;
    }
   }
   .date {
    margin-top: .25rem;
    font-size: 0.9rem;
    color: #B2BAC2;
   }
  }
 }

 #comments {
  .comment {
   border-bottom: 1px solid #d1d1d1;
   padding-bottom: 1em;
   margin-bottom: 1em;
   .comment_content {
    margin: 0;
    padding: 0;
   }
   .comment_author {
    color: #F5F5F5;
    margin-top: 0.5rem;
    font-size: 0.6rem;
    font-weight: 700;
   }
  }
 }
